<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Cars</title>
</head>

<table border="1" width="1000" th:height="500" align="center" cellspacing="1">
  <thead>
  <tr bgcolor="#ffa07a">
    <th>Series</th>
    <th>Model</th>
    <th>Color</th>
  </tr>
  </thead>
  <tbody>
  <tr bgcolor="#f0e68c" th:align="center" th:each="car, iterStat : ${cars}">
    <td th:text="${car.getSeries()}"></td>
    <td th:text="${car.getModel()}"></td>
    <td th:text="${car.getColor()}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>